.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: large;
}

.hidden-checkbox {
  display: none;
}
